@import "tailwindcss";
@import "@catppuccin/tailwindcss/frappe.css";

@layer base {

	html,
	body {
		@apply bg-ctp-base text-ctp-text;
		font-family: "SN Pro", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		line-height: 1.6;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	main {
		@apply m-auto pt-10;
		max-width: 75%;
		flex: 1;
		width: 100%;
	}

	footer {
		@apply text-center p-4 bg-ctp-mantle;
	}

	header {
		@apply bg-ctp-mantle sticky md:static top-0;
	}
}

h1 {
	@apply text-3xl md:text-5xl text-ctp-flamingo;
}

h2 {
	@apply text-2xl md:text-4xl text-ctp-rosewater;
}

h3 {
	@apply text-2xl md:text-3xl text-ctp-lavender;
}

table {
	@apply border w-full mt-4 mb-4 border-ctp-surface1;

	th,
	td {
		@apply px-4 py-2 border border-ctp-surface1;
	}

	th {
		@apply bg-ctp-surface0 text-ctp-text;
	}
}

.footer-grid {
	@apply grid grid-cols-1 md:grid-cols-3 text-ctp-subtext0 justify-between;
}

.footer-section {
	@apply mb-4 text-ctp-subtext0;
}

.footer-heading {
	@apply text-xl text-ctp-lavender;
}

.sidebar {
	@apply sticky w-64 p-4 bg-ctp-base border-2 border-ctp-surface1 rounded-lg top-2;
}

.toc-item {
	&.depth-3 {
		@apply ml-4;
	}

	&.depth-4 {
		@apply ml-8;
	}
}

.pillbox {
	@apply inline-block mr-1 px-2 rounded-full mb-1 bg-ctp-mauve text-ctp-base;
}

.lucide-icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: -0.125em;
	stroke: currentColor;
}

.topic-card {
	@apply bg-ctp-mantle border-2 border-ctp-surface1 rounded-lg p-4 mb-4;
}

.topic-card-grid {
	@apply grid grid-cols-1 gap-2;
}

.files {
	@apply overflow-hidden text-ellipsis;
}

.files-grid {
	@apply grid grid-cols-1 md:grid-cols-3 gap-3;
}