@import "tailwindcss";

@layer base {

	html,
	body {
		@apply bg-orange-100 text-gray-900;
		font-family: 'Helvetica Neue', Arial, sans-serif;
		line-height: 1.6;
	}

	main {
		max-width: 60%;
		@apply m-auto pb-10 pt-10;
	}

	footer {
		display: flex;
		justify-content: space-around;
	}
}

.article-toc {
	position: sticky;
	top: 0;
	float: right;
	@apply w-64 p-4 border rounded;
}

.markdown-wrapper {
	h1 {
		@apply text-5xl mt-4 mb-4 text-center;
	}

	h2 {
		@apply text-4xl mt-6 mb-4;
	}

	h3 {
		@apply text-3xl mt-5 mb-3;
	}

	ul {
		@apply list-disc list-inside;

		ul {
			@apply pl-6;
		}
	}

	mjx-container[jax="SVG"] {
		display: inline-block;
		vertical-align: middle;
	}

	mjx-container[display="true"] {
		@apply lg:overflow-x-auto overflow-x-scroll;

		&>svg {
			display: block;
			margin: auto;
		}
	}

	table {
		@apply table-auto border-collapse border mb-4;
		width: 100%;

		th,
		td {
			@apply border px-4 py-2;
		}

		th {
			@apply bg-orange-200;
		}
	}

	a {
		@apply underline;
	}
}

.nav-bar {
	@apply p-4;
	display: flex;
	justify-content: space-around;
}

.footer-section {
	@apply mb-4;
}