@import "tailwindcss";
@import "@catppuccin/tailwindcss/frappe.css";
@config "../../tailwind.config.js";

.markdown-wrapper {
	h1 {
		@apply pb-4 overflow-x-auto wrap-break-word;
	}

	h2 {
		@apply pt-4 pb-4 overflow-x-auto;
	}

	h3 {
		@apply pt-3 pb-3;
	}

	mjx-container[jax="SVG"] {
		display: inline-block;
		vertical-align: middle;
	}

	mjx-container[display="true"] {
		@apply overflow-x-auto;

		&>svg {
			display: block;
			margin: auto;
		}
	}

	a {
		@apply underline text-ctp-blue;

		&:hover {
			@apply text-ctp-sky;
		}
	}
	
	ul {
		@apply list-disc list-inside;

		ul {
			@apply pl-6;
		}
	}
}

.astro-code {
	@apply overflow-x-scroll shrink;
}